.com-grid-paper .grid-paper-bd .title-description .gray-title {
  color: #666;
}
.q-box {
  width:100%;
  box-sizing:border-box;
  padding: 20rpx 44rpx;
  .title {
    display: block;
    font-weight: bold;
    font-size: 32rpx;
    min-height: 90rpx;
  }
  .radio-group {
    margin-top: 20rpx;
    align-items: flex-start;
    border-radius: 16rpx;
    :last-child {
      border: none;
    }
    label {
      width: 100%;
      position:relative;
      box-sizing: border-box;
      font-size: 36rpx;
      background-color: #fff;
      border-bottom: 1px solid #eee;
      radio {
        display: none;
      }
      text {
        display:block;
        width: 100%;
        border: none;
        box-sizing:border-box;
        padding: 16rpx 20rpx 12rpx 40rpx;
      }
      .selected {
        background: #ffdf1f;
      }
    }
  }
}
.result-box {
  width:100%;
  padding: 20rpx 44rpx;
  .title {
    box-sizing:border-box;
    font-size:36rpx;
    border:8rpx solid #999;
    width:100%;
    text-align:center;
    color:#666;
  }
  .content {
    justify-content:center;
    width:100%;
    padding: 30rpx 30rpx;
    font-size:40rpx;
    text-align:center;
    background-color:#999;
    color:#fff;
  }
}
.share-box {
  text {
    width:400rpx;
    position:absolute;
    right:175rpx;
    bottom:300rpx;
    color:#fff;
    font-size:40rpx;
  }
  image {
    width: 120rpx;
    height: 110rpx;
    position: absolute;
    right: 80rpx;
    bottom: 150rpx;
  }
}
.home-box {
  text {
    width:400rpx;
    position:absolute;
    right:175rpx;
    top:200rpx;
    color:#fff;
    font-size:40rpx;
  }
  image {
    width: 120rpx;
    height: 110rpx;
    position: absolute;
    right: 160rpx;
    top: 50rpx;
  }
}
