.title .nick {
  color: #993399;
}
.share-box text {
  font-size: 42rpx;
}
.result-box {
  &.top-part {
    flex: 0!important;
    .DIN {
      font-size: 50rpx;
      color: #4b4c53;
    }
    .small {
      color: #4b4c53;
      font-size: 36rpx;
    }
  }
  .canvas.content {
    background-color: transparent;
    width: 500rpx;
    height: 360rpx;
    padding: 0;
  }
}
.result-box .player-list {
  display: flex;
  align-items: center;
  margin-bottom: 30rpx;
  image {
    width: 120rpx;
    height: 120rpx;
    border-radius: 60rpx;
    border: 4rpx solid #fff;
    box-sizing: border-box;
  }
  text {
    color: #4b4c53;
    padding: 0 20rpx;
  }
}
.other-result-box {
  width: 80%;
  border-top-left-radius:30rpx;
  border-top-right-radius:30rpx;
  background-color:#fff;
  padding:0 40rpx;
  padding-top: 26rpx;
  justify-content:center;
  margin-top: 30rpx;
  .other-result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:14rpx 0;
    border-bottom: 1px solid #e9e9e9;
    &:last-child {
      border: none;
    }
    image {
      width: 140rpx;
      height: 140rpx;
      border: 2rpx solid #eee;
      border-radius: 4rpx;
      box-sizing: border-box;
    }
    .name-box {
      width: auto;
      flex-grow: 0;
      text {
        color: #4b4c53;
        margin-left: 20rpx;
        width: 140rpx;
        font-size: 40rpx;
      }
    }
    text.score {
      font-size: 50rpx;
      color: #8bc3ff;
    }
    .progress-bar {
      width: 380rpx;
      height: 30rpx;
      background-color: #eee;
      border-radius: 8rpx;
      .progress {
        background-color: #f77f9b;
        width: 0;
        height: 100%;
        border-radius: 8rpx;
      }
    }
  }
  image.bottom {
    width: 100%;
  }
}

